body{
    background-color: aquamarine;
}

ul{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    font-weight: bold;
}

a:hover{
    color: red;
}

img{
    display: block;
    margin: auto;
    width: 500px;
}

#cultura, #deporte {
    border-style: groove;
    border-top-color: red ;
    border-bottom-color: yellow ;
    border-width: 15px ;
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    text-decoration: underline;
}